<div id="container" class="container">

    <header>

        <h1>Eat - Da - Burger</h1>

        <img src="assets/burg.jpg">

        <h2>Enter a burger you want to eat</h2>

        <form class="create-form">

        <div class="form-group">
            <label for="burg">Burger Name:</label>
            <div></div>
            <input type="text" id="burg" name="name">
        </div>

        <button class="btn" type="submit">Add Burger</button>
        </form>

    </header>
    

    <div id="burgers">
        <div id="nonDevoured">
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burgers-div devour=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div id="devoured">
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burgers-div devour=true}}
                    {{/if}}
                {{/each}}
            </ul>     
        </div>
    </div>
     

</div>